<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Rates Search API, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Rates Search API,
      your username is: <%= @user.email_id %>.<br>
    </p>
    <p>
      To verify your email, please click on this <a href=<%= @verify_link %>>link</a>
    </p>.
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>