<center><h1>
	Sign Up!
</h1>
<form method="post" action="/commit_user">
	
	<label>Name</label>
	<input type="textbox" name="name"><br><br>
	<label>Aadhar Number</label>
	<input type="textbox" name="aadhar_num"><br><br>
	<label>Contact Number</label>
	<input type="textbox" name="contact_num"><br><br>
	<label>City</label>
	<input type="textbox" name="city"><br><br>
	<label>Country</label>
	<input type="textbox" name="country"><br><br>
	<label>Email ID</label>
	<input type="textbox" name="email_id"><br><br>
	<label>Password</label>
	<input type="password" name="password"><br><br>
	<input type="submit" name="Submit">
</form>
</center>
