<center><h1>RATE SEARCH</h1>
<p>Please enter below credentails for searching</p>
<form method="post" action="/rates">
	<label>Origin Port</label>
	<select name="originport">
		<option value="1">One</option>
	</select><br><br>

	<label>Destination Port</label>
	<select name="destport">
		<option value="1">One</option>
	</select><br><br>

	<label>Container Size</label>
	<select name="contsize">
		<option value="1">One</option>
	</select><br><br>

	<label>Container Type</label>
	<input type="textbox" name="conttype"><br><br>

	<label>Commodity</label>
	<input type="textbox" name="commodity"><br><br>

	<input type="submit" name="Submit">
</form>
</center>
